# app info
APP_NAME=AKAINU
VERSION=1.0.0
PORT=3000
HOST='localhost'
# database
DB_USERNAME=binar_api
DB_PASSWORD=123456
DB_HOSTNAME=localhost
DB_NAME=akainu_db
DB_DIALECT=postgres
SENTRY_DSN=xxxxx
SENTRY_DSN=xxxxx